.header-bg {
  margin-bottom: -110px;
}

.header{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.header ul{
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
}

.header a:hover{
  color: var(--cor-p1);
}

.header ul img:hover{
  opacity: 0.5;
}

@media(max-width: 1000px){
  .header ul{
    display: none;
  }
}

@media (min-width: 1000px){
  .menu-h{
    display: none;
  }
}