.intro-bg {
  background-image: url("/img/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 410px;
  padding-bottom: 300px;
}

.intro{
  display: flex;
  align-content: center;
}

.intro h1{
  max-width: 28ch;
  margin-bottom: 20px;
}

.intro p{
  max-width: 40ch;
  margin-bottom: 32px;
}

@media(max-width: 800px){
  .intro{
    grid-template-columns: 1fr;
    place-content: center;
  }

  .intro{
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Alinha o texto ao centro */
  }
}

@media (min-width: 1970px){
  .intro-bg {
    background-size: 50%;
    background-position: top center;
  }
}