.intro-bg {
  background-image: url("../../img/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.intro{
  display: flex;
  align-items: center;
  padding-top: 410px;
  padding-bottom: 300px;
}

.intro h1{
  max-width: 28ch;
  margin-bottom: 20px;
}

.intro p{
  max-width: 40ch;
  margin-bottom: 32px;
}



@media(max-width: 800px){
  .intro{
    grid-template-columns: 1fr;
    place-content: center;
    text-align: center;
    padding-top: 240px;
    padding-bottom: 240px;
  }
}

@media(min-width: 2000px){
  .intro-bg {
    background-size: contain;
  }
}