.intro-bg {
  background-image: url("/img/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 280px;
  padding-bottom: 280px;
}

.intro{
  display: flex;
  align-content: center;
}

.intro h1{
  max-width: 30ch;
  margin-bottom: 20px;
}

.intro p{
  
  margin-bottom: 32px;
}

@media(max-width: 800px){
  .intro{
    grid-template-columns: 1fr;
    place-content: center;
  }

  .intro{
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Alinha o texto ao centro */
  }
}