.projetos{
  padding-top: 120px;
  padding-bottom: 120px;
  display: grid;
  justify-items: center;
}

.projetos-galeria{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.projetos-galeria h3{
  margin-top: 12px;
}

.projetos-galeria iframe{
  border-radius: 10px;
}

.projetos .botao{
  margin-top: 40px;
  background: var(--cor-p3);
  border: 1px solid var(--cor-p1);
}

.projetos .botao:hover{
  background: var(--cor-p1);
}

.projetos-galeria div:first-child{
  margin-top: 80px;
}

.projetos-galeria div:nth-child(3){
  max-width: auto;
  max-height: auto;
}

.projetos-galeria iframe{
  height: 400px;
  width: 100%;
}

@media(max-width: 800px){
  .projetos{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .projetos-galeria{
    grid-template-columns: 1fr;
    gap: 32px;
    text-align: center;
  }

  .projetos-galeria div:first-child{
    margin-top: 32px;
  }
}