.promo{
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.promo h2{
  margin-bottom: 20px;
}

.promo p{
  margin-bottom: 40px;
}

.promo ul{
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  /* serve para quando um copntainer estourar ele criar uma barra de rolagem sem danificar outros container do site */
  overflow-x: auto;
}

.promo li{
  /* não diminui menos que 280px */
  flex: 1;
  min-width: 280px;
}

@media(max-width: 800px){
  .promo{
    padding-top: 60px;
    padding-bottom: 60px;
  }
}