.servicos-bg{
  background: var(--cor-0);
}

.servicos{
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.servicos h2{
 margin-bottom: 40px;
}

.servicos-caixa{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.servicos-card{
  display: grid;
  justify-items: center;
  gap: 16px;
  border: solid 1px var(--cor-3);
  padding: 80px;
  border-radius: 10px;
}

@media(max-width: 800px){
  .servicos{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .servicos-caixa{
    grid-template-columns: 1fr;
    gap: 30px;
  }
}